<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
 
    Data model version @Version

</div>

@using OperationalDataModel

@code {

    public string Version;

    protected override void OnInitialized()
    {
        OperationalDataModel odm = new OperationalDataModel();
        odm.Version = "2.3";

        Version = odm.Version;
    }
}
